# Python Object and Data Structure Basics

**Powers**

In [1]:
2 ** 3

8

**Floating Point Arithmetic**

On a typical machine running Python, there are **53 bits** of precision available for a Python float, so the value stored internally when you enter the decimal number 0.1 is the binary fraction

In [3]:
0.00011001100110011001100110011001100110011001100110011010

0.00011001100110011001

In [6]:
0.1

0.1

It’s important to realize that this is, in a real sense, an illusion: the value in the machine is not exactly 1/10, you’re simply rounding the display of the true machine value. This fact becomes apparent as soon as you try to do arithmetic with these values

In [7]:
0.1 + 0.2

0.30000000000000004

**Variables**

- can NOT start with a number
- can NOT contain spaces (use _)
- can NOT use most symbols
- should NOT use words that have special meaning in Python, like 'list' or 'str'
- should be all lowercase (except all-caps global vars)

Python uses **dynamic typing**
- meaning you can reassign variables to different data types

In [8]:
my_dogs = 2

In [9]:
my_dogs = ["Rusty", "Rue"]

**type()**

In [33]:
a = 5
type(a)

int

In [34]:
a = 'Luke'
type(a)

str

**strings**

Because strings are **ordered sequences**, we can use **indexing** (which starts at 0) and **slicing** to grab sub-sections of the string

In [17]:
# indexing
a[0]

'L'

In [15]:
# reverse indexing
a[-1]

'e'

In [19]:
# slicing [start:stop(but not include):step]
a[0:3:1]

'Luk'

In [20]:
print(a) # removes quotes around the output

Luke

In [21]:
len(a) #length (will count spaces)

4

In [22]:
mystring = 'abcdefg'

In [37]:
print(mystring[1])
print(mystring[2:])
print(mystring[:3]) # up to 3 but don't include it
print(mystring[0:len(mystring):2]) # step 2 (i.e. every other index)
print(mystring[::2]) # same as above

b
cdefg
abc
aceg
aceg

**TIP: reverse string**

In [38]:
name = 'Luke MacKenzie'
print(name[::-1])

eizneKcaM ekuL

**string properties & methods**

In [42]:
# strings are IMMUTABLE (i.e. can't be changed)
name = "Luke"
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [44]:
# concatenation 
x = 'Hello world'
x = x + ' , it is beautiful outside!'
x

'Hello world , it is beautiful outside!'

To see available methods, type '.' after the variable > Tab

In [45]:
print(x.upper()) # doesn't affect the original string
print(x)

HELLO WORLD , IT IS BEAUTIFUL OUTSIDE!
Hello world , it is beautiful outside!

In [46]:
print(x.split())

['Hello', 'world', ',', 'it', 'is', 'beautiful', 'outside!']

In [50]:
phone = '416-123-4567' # must be a string
phone.split('-')

['416', '123', '4567']

### string formatting
- format objects into strings for print statements

**1) .format()**

In [52]:
print('This is a string {}'.format("INSERTED"))
# inserts the passed string where the curly braces are

This is a string INSERTED

In [54]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The fox brown quick
The quick brown fox

In [55]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [62]:
# float formatting follows "{value:width.precision f}"
result = 100/777
result # 0.1287001287001287
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

**2) f-strings (formatted string literals)** - came in Python 3.6

In [63]:
name = 'Luke'

In [64]:
print(f'Hello, my name is {name}')

Hello, my name is Luke

### Lists (i.e. arrays)
- **ordered** sequences that can hold a variety of object types
- support indexing & slicing; can be nested
- objects retrieved by location

In [19]:
mylist = ['one', 'two', 'three']

In [2]:
mylist[1]

'two'

In [3]:
mylist[1:]

['two', 'three']

In [4]:
anotherlist = ['four', 'five']

In [5]:
mylist + anotherlist

['one', 'two', 'three', 'four', 'five']

Lists, unlike strings, are mutable:

In [20]:
mylist[0] = 'ONE'

In [13]:
mylist

['ONE', 'two', 'three']

**List Methods**

In [21]:
mylist.append('four')
mylist

['ONE', 'two', 'three', 'four']

In [22]:
mylist.pop() 
# 'pops off' last item and returns it
# defaults to -1 but you can pass any index

'four'

In [23]:
mylist

['ONE', 'two', 'three']

In [25]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3,9]

In [31]:
new_list.sort() # sorts 'in place' (i.e doesn't return anything)
num_list.sort() # so assigning this to a variable will return NoneType

In [29]:
new_list

['a', 'b', 'c', 'e', 'x']

In [30]:
num_list

[1, 3, 4, 8, 9]

In [32]:
num_list.reverse()

In [33]:
num_list

[9, 8, 4, 3, 1]

In [35]:
nested = [0, 1, [2, 3]]
nested[2][1]

3

### Dictionaries (i.e. objects)
- **unordered** mappings for storing objects & cannot be sorted
- use a **key-value** pairing
- objects retrieved by key name

In [40]:
my_dict = {'first': 'Luke', 'last': 'MacKenzie'}

In [41]:
my_dict['first']

'Luke'

In [46]:
# values can be many types
mixed = {'a': 123, 'b': [1,2,3], 'c': {'hello': 'world'}}
print(mixed)

{'a': 123, 'b': [1, 2, 3], 'c': {'hello': 'world'}}

In [47]:
dict = {'key1': ['lower', 'upper']}

In [52]:
dict['key1'][1].upper() # NOTE: this doesn't change the original dictionary

'UPPER'

In [53]:
my_dict = {'first': 'Luke', 'last': 'MacKenzie'}

print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

### Tuples
- very similar to lists but **are immutable**
    - once an element is inside a tuple, it cannot be reassigned
- used by more advanced developers to ensure objects don't get changed as they're passed around
- only has two methods: **count** and **index**

In [58]:
t = (1,2,'three') # tuple
list = [1,2,'three'] # list

In [60]:
type(t)

tuple

In [61]:
type(list)

list

In [62]:
t[0]

1

In [63]:
len(t)

3

**count()**

In [65]:
t = ('a', 'a', 'b', 'c')
t.count('a')

2

**index()**

In [66]:
t.index('a') # returns index of first occurance

0

In [67]:
list[0] = 'ONE'
list

['ONE', 2, 3]

In [69]:
t[0] = 'ONE' # no dice

TypeError: 'tuple' object does not support item assignment

### Sets
- **unordered** collections of **unique** elements

In [74]:
myset = set()

In [75]:
myset

set()

In [81]:
myset.add(1)
myset.add(2)
myset # looks like a dictionary but it's not (doesn't have key-value pairs)

{1, 2}

In [83]:
myset.add(2)
myset # doesn't get added b/c sets contain only unique values

{1, 2}

In [84]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3]
set(mylist)

{1, 2, 3}

In [96]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [99]:
set([1,1,2,2,2,3,5,6,4,4])

{1, 2, 3, 4, 5, 6}

### Booleans
- operators that allow you to convey **True** or **False** statements
- important for control flow and logic

In [86]:
type(True)

bool

In [87]:
1 > 2

False

In [88]:
1 == 1

True

In [92]:
# we can use None as a placeholder for an object we don't want to assign yet
b # can't just do this

NameError: name 'b' is not defined

In [93]:
b = None

### Files (input/output)

In [101]:
# the below only works in Jupyter notebooks to create text files

In [102]:
%%writefile myfile.txt
Hello, this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [106]:
pwd

'/Users/lukemackenzie/Documents/learning/python'

In [107]:
ls

01. Python Object and Data Structure Basics.ipynb
Complete-Python-3-Bootcamp/
myfile.txt

In [115]:
myfile = open('myfile.txt') # could also supply a file path for files outside the pwd

In [109]:
myfile.read()

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [110]:
myfile.read() # this returns empty string b/c after reading the file the first time
# the cursor ends up at the end of the file

''

In [111]:
# to reset the cursor:
myfile.seek(0)
# then,
contents = myfile.read()
print(contents)

Hello, this is a text file
this is the second line
this is the third line

In [112]:
myfile.seek(0)
myfile.readlines()

['Hello, this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [116]:
myfile.close()

In [117]:
# instead of worry abouting having to close the file, do:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [118]:
contents

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [122]:
# with cursor after first bracket, press Shift + Tab to see function docs
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()
# 'mode' essentially sets permissions

**Modes:**
- r = 'read only'
- w = 'write only' (will overwrite files or create new)
- a = 'append only' (will add on to files)
- r+ = 'reading and writing'
- w+ = 'writing and reading' (overwrites existing files or creates a new file)

In [137]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [139]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [140]:
# append will ensure the cursor is at the end of the file before writing
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [141]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [142]:
# since 'another_new_file.txt' does NOT exist, this will create it
with open('another_new_file.txt', mode='w') as f:
    f.write('I CREATED THIS FILE ')

In [143]:
with open('another_new_file.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE

### Comparison Operators
- and, or, not

In [4]:
1 < 2 < 3 # could do this, but operators are more readable

True

In [2]:
1 < 2 and 2 < 3

True

In [3]:
1 < 3 or 2 > 3

True

In [5]:
not 1 == 1

False